@font-face {
  font-family: "Sukhumvit Set";
  src: url("../fonts/sukhumvitset-bold-webfont.woff2") format("woff2"),
    url("../fonts/sukhumvitset-bold-webfont.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Sukhumvit Set";
  src: url("../fonts/sukhumvitset-medium-webfont.woff2") format("woff2"),
    url("../fonts/sukhumvitset-medium-webfont.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Sukhumvit Set";
  src: url("../fonts/sukhumvitset-light-webfont.woff2") format("woff2"),
    url("../fonts/sukhumvitset-light-webfont.woff") format("woff");
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Saudagar";
  src: url("../fonts/saudagar-normal-webfont.woff2") format("woff2"),
    url("../fonts/saudagar-normal-webfont.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  font-family: "Sukhumvit Set", sans-serif;
  font-weight: 300;
  background-color: #e5e5e5;
  height: 100vh;
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  max-width: 1720px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.72), rgba(0, 0, 0, 0.72)),
    url(../img/bg_logo_01.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__content {
    max-width: 1720px;
    padding: 0 15px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &-logo {
    padding-right: 20px;
  }

  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
  }

  &-app {
    display: flex;
    align-items: center;

    &__list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }

    &__item {
      list-style: none;

      &:not(:last-child) {
        margin-right: 64px;
      }
    }

    &__text {
      font-weight: 500;
      font-size: 1.1rem;
      color: #fff;
      margin: 0;
    }

    &__link {
      display: flex;
      align-items: center;
      color: #fff;
      font-weight: 500;
      font-size: 1.1rem;

      img {
        margin-right: 10px;
      }
    }
  }

  &-main {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__text {
      font-family: "Saudagar";
      font-weight: 400;
      font-size: 17rem;
      text-transform: uppercase;
      color: #ffffff;
      margin: 0;
      margin-bottom: 40px;
    }

    &__title {
      font-weight: 300;
      margin-bottom: 70px;
      font-size: 2rem;
      text-transform: uppercase;
      color: #ffffff;
      text-align: center;
    }

    .btn-main {
      font-weight: 700;
      padding: 14px 102px;
      background-color: #dcac9b;
      border-radius: 2px;
      text-align: center;
      color: #1a1a1a;
      font-size: 1rem;
    }
  }
}

.about {
  background-color: #1a1a1a;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 200px;

  &__bg-txt {
    font-family: "Saudagar";
    font-weight: 400;
    font-size: 15vw;
    text-transform: uppercase;
    color: #ffffff;
    opacity: 0.06;
    flex-basis: 10%;
    margin-bottom: 100px;
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 60%;
    padding-right: 90px;
    margin-bottom: 200px;
  }

  &-title {
    margin-bottom: 46px;
    max-width: 867px;
    font-family: "Saudagar";
    font-weight: 400;
    font-size: 3rem;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
  }

  &-txt {
    max-width: 867px;
    height: 228px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &-text {
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 172%;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
  }
}

.order-one {
  background-color: #fff;

  &__wrapper {
    max-width: 1460px;
    padding: 140px 15px 200px;
    margin: 0 auto;
  }

  &__img {
    display: flex;
    justify-content: center;
  }

  &__bg-img {
    min-width: 80vw;
    margin-top: -200px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.content-text {
  font-family: "Saudagar";
  font-weight: 400;

  &__number {
    font-size: 1.8rem;
    line-height: 150%;
    text-transform: uppercase;
    color: #dcac9b;
    margin: 0;
  }

  &__title {
    max-width: 390px;
    font-size: 3.1rem;
    line-height: 130%;
    text-transform: uppercase;
    color: #1a1a1a;
    margin: 0;
    margin-bottom: 4.7rem;
  }

  &__desc {
    max-width: 484px;
    font-family: "Sukhumvit Set";
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 172%;
    color: rgba(26, 26, 26, 0.8);
    margin: 0;
  }
}

.order-two {
  background-color: #1a1a1a;

  &__content {
    max-width: 1460px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
  }
  &__img-res {
    display: none;
  }

  .content-text {
    &__title {
      color: #fff;
    }

    &__desc {
      color: rgba(255, 255, 255, 0.8);
    }
  }
  &__img {
    margin-top: -80px;
    height: 100%;
  }
}

.order-three {
  padding: 100px 0;
  background-color: #fff;
  display: flex;
  align-items: center;

  &__content {
    max-width: 1635px;
    padding: 100px 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .content__title {
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 130%;
      text-transform: uppercase;
      color: #000000;
      text-align: center;
      margin: 50px 0;
    }

    &-coming__btn {
      padding-top: 100px;
    }
  }

  &__content-top {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 100px 0;
  }

  &__mobile {
    // height: 541px;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
  }

  &__mobile-pic {
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__content-coming {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__btn {
      text-align: center;
      padding: 50px 0;
    }
  }
}

.elips-pic {
  max-width: 33.33%;
}

.btn-app {
  width: 182px;
  background: #000000;
  border-radius: 2px;
  padding: 15px 0;

  &__txt {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    line-height: 24px;
    font-weight: 500;
    font-size: 1.1rem;
  }

  &__img {
    margin-right: 8px;
  }
}

.subscribe {
  display: flex;
  background-color: #1a1a1a;

  &__img {
    width: 50%;
  }

  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;

    &__title {
      font-family: "Saudagar";
      font-weight: 400;
      line-height: 130%;
      font-size: 3.1rem;
      text-transform: uppercase;
      color: #ffffff;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      margin-bottom: 60px;
      text-align: left;
    }
  }

  &-list {
    list-style: none;
    padding: 0;
  }

  &-item {
    &__inpt {
      width: 25vmax;
      background-color: #1a1a1a;
      border: none;
      border-bottom: 2px solid #ffffff;
      opacity: 0.7;
      border-radius: 2px;
      margin-bottom: 50px;
      outline: none;
      color: #8e8e8e;
      padding-bottom: 14px;
    }

    &__inpt::placeholder {
      font-weight: 300;
      font-size: 1;
      line-height: 165%;
      text-transform: uppercase;
      color: #8e8e8e;
    }

    &__inpt:last-child {
      margin-bottom: 70px;
    }
  }

  &-btn {
    font-weight: 700;
    font-size: 1rem;
    line-height: 172%;
    width: 100%;
    padding: 14px 0;
    background: #dcac9b;
    border-radius: 2px;
    border: none;
    color: #1a1a1a;
    outline: none;
    cursor: pointer;
  }
}

.footer {
  background-color: #000;

  .container {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    align-content: center;
  }

  .copyring {
    color: #fff;
    font-size: 1rem;

    span {
      margin-right: 8px;
    }
  }
}

@media (max-width: 1169px) {
  .order-one__content {
    flex-direction: column-reverse;
  }
  .content-text {
    margin-bottom: 20px;
  }
  .order-two__img {
    height: 80%;
  }
  .order-two__content {
    justify-content: center;
  }
  .order-two__content > .content-text {
    margin: 50px 0;
  }
}

@media (max-width: 991px) {
  .header-top {
    justify-content: center;
  }
  .header-top div {
    padding: 20px;
  }
  .about-content {
    padding: 0 20px;
  }
  .order-two__content {
    justify-content: center;
  }
  .order-three__mobile {
    margin: 0;
  }
  .subscribe {
    flex-direction: column;
    align-items: center;
  }
  .subscribe-list {
    width: 100%;
  }
  .subscribe-item__inpt {
    width: 100%;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 12px;
  }
  .header-app__item:not(:last-child) {
    margin-right: 4rem;
  }
  .header-top {
    flex-direction: column;
  }
  .order-two__content {
    flex-direction: column-reverse;
    justify-content: baseline;
  }
  .order-three__content-top {
    flex-direction: column;
    padding: 0;
    margin-bottom: 50px;
  }
  .order-three {
    padding: 0;
  }
}

@media (max-width: 576px) {
  html,
  body {
    font-size: 10px;
  }
  .container,
  .header__content,
  .about-content,
  .order-one__wrapper,
  .order-two__content,
  .subscribe {
    padding-left: 20px;
    padding-right: 20px;
  }
  .header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.72), rgba(0, 0, 0, 0.72)),
      url(../img/bg-smal.jpg);
  }
  .header-top {
    flex-direction: column;
    flex: 1;
  }
  .header__content {
    position: relative;
    justify-content: space-evenly;
  }
  .header-main {
    flex: 1;
  }
  .header-app__item:not(:last-child) {
    margin-bottom: 10vh;
    margin-right: 0;
  }
  .header-app {
    position: absolute;
    bottom: 5vh;
    width: 100%;
  }
  .header-app__list {
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-evenly;
  }
  .header-top div {
    padding: 0;
  }
  .header-app__item:not(:last-child) {
    margin-bottom: 0;
  }
  .header-app__link img {
    margin-right: 4px;
  }
  .header-main__text p {
    font-size: 60%;
  }
  .about {
    padding: 0;
  }
  .about__bg-txt {
    margin-bottom: 50px;
  }
  .about-txt {
    justify-content: space-evenly;
  }
  .about-title {
    margin-bottom: 0;
  }
  .about-content {
    margin-bottom: 50px;
  }
  .order-one__wrapper {
    padding: 20px 15px 50px;
  }
  .order-one__img {
    margin-bottom: 50px;
  }
  .order-one__bg-img {
    margin-top: 0;
  }
  .content-text__title {
    margin-bottom: 0.7rem;
  }
  .order-two {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  .order-two__img {
    display: none;
    height: 0;
  }
  .order-two__img-res {
    display: block;
  }
  .order-three {
    padding: 0;
  }
  .order-three__content {
    width: 100%;
    padding: 100px 0;
  }
  .order-three__content-top {
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
  }
  .order-three__mobile {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }
  .elips-pic {
    max-width: 50vw;
  }
  .content-coming__btn {
    text-align: center;
  }
  .btn-app {
    margin-bottom: 10px;
  }
  .subscribe-form {
    width: 100%;
  }
  .subscribe-list {
    width: 100%;
  }
  .subscribe-item__inpt {
    width: 100%;
  }
  .subscribe-btn {
    width: 100%;
  }
  .subscribe-item__inpt:last-child {
    margin-bottom: 30px;
  }
  .footer > .container {
    height: 100px;
    padding: 25px 20px;
  }
  .subscribe__img {
    display: none;
    width: 0;
  }
  .subscribe {
    justify-content: center;
  }
  .subscribe-form {
    padding: 70px 0;
  }
}

@media (max-width: 320px) {
  .content-coming__btn {
    text-align: center;
  }
  .btn-app {
    margin-bottom: 10px;
  }
  .copyring {
    margin-top: 10px;
  }
}
